Repository ethyca/fides, pull requests merged in 2022-12, with the labels that each got.

#1965 Add fides-helm release dispatch event
  .github/workflows/release_event.yml
Labels: github_actions

#1765 Remove duplicate fastapi-caching and pin version
  CHANGELOG.md
  requirements.txt
Labels: dependencies

#1895 Dsr error handling configure alerts
  CHANGELOG.md
  clients/admin-ui/src/features/common/hooks/useAlert.tsx
  clients/admin-ui/src/features/privacy-requests/EmailChipList.tsx
  clients/admin-ui/src/features/privacy-requests/RequestTable.tsx
  clients/admin-ui/src/features/privacy-requests/buttons/ActionButtons.tsx
  clients/admin-ui/src/features/privacy-requests/buttons/MoreButton.tsx
  clients/admin-ui/src/features/privacy-requests/drawers/ConfigureAlerts.tsx
  clients/admin-ui/src/features/privacy-requests/hooks/useDSRErrorAlert.tsx
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/features/subject-request/manual-processing/ManualProcessingDetail.tsx
  clients/admin-ui/src/flags.json
  clients/admin-ui/src/pages/index.tsx
  clients/admin-ui/src/pages/subject-request/[id].tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/PrivacyRequestNotificationInfo.ts
Labels: DSR Error Handling

#2030 ui: Common Subscriptions for app-wide data and feature checks
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/auth.cy.ts
  clients/admin-ui/cypress/e2e/datasets-classify.cy.ts
  clients/admin-ui/cypress/e2e/datasets.cy.ts
  clients/admin-ui/cypress/e2e/nav-bar.cy.ts
  clients/admin-ui/cypress/e2e/systems-classify.cy.ts
  clients/admin-ui/cypress/e2e/systems.cy.ts
  clients/admin-ui/cypress/e2e/taxonomy.cy.ts
  clients/admin-ui/cypress/support/e2e.ts
  clients/admin-ui/src/features/auth/ProtectedRoute.tsx
  clients/admin-ui/src/features/common/CommonSubscriptions.tsx
  clients/admin-ui/src/features/common/features.slice.ts
  clients/admin-ui/src/features/datastore-connections/datastore-connection.slice.ts
  clients/admin-ui/src/features/plus/plus.slice.ts
  clients/admin-ui/src/features/system/ClassifySystemsTable.tsx
  clients/admin-ui/src/features/system/DescribeSystemStep.tsx
  clients/admin-ui/src/features/system/SystemRegisterSuccess.tsx
  clients/admin-ui/src/features/system/system.slice.ts
  clients/admin-ui/src/pages/_app.tsx
Labels: UI, Fides NUX Improvements

#2046 Add Non Nullable DatasetConfig.ctl_dataset_id Field
  .fides/db_dataset.yml
  CHANGELOG.md
  src/fides/api/ctl/migrations/versions/216cdc7944f1_add_datasetconfig_ctl_datasets_fk.py
  src/fides/api/ctl/migrations/versions/9c6f62e4c9da_make_datasetconfig_ctl_datasets_non_nullable.py
  src/fides/api/ctl/sql_models.py
  src/fides/api/ops/api/v1/endpoints/dataset_endpoints.py
  src/fides/api/ops/api/v1/endpoints/saas_config_endpoints.py
  src/fides/api/ops/api/v1/urn_registry.py
  src/fides/api/ops/models/datasetconfig.py
  src/fides/api/ops/schemas/dataset.py
  src/fides/api/ops/service/connectors/email_connector.py
  src/fides/api/ops/service/connectors/saas/connector_registry_service.py
  tests/ops/api/v1/endpoints/test_dataset_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/fixtures/application_fixtures.py
  tests/ops/fixtures/bigquery_fixtures.py
  tests/ops/fixtures/email_fixtures.py
  tests/ops/fixtures/fides_connector_example_fixtures.py
  tests/ops/fixtures/manual_fixtures.py
  tests/ops/fixtures/mariadb_fixtures.py
  tests/ops/fixtures/mssql_fixtures.py
  tests/ops/fixtures/mysql_fixtures.py
  tests/ops/fixtures/postgres_fixtures.py
  tests/ops/fixtures/redshift_fixtures.py
  tests/ops/fixtures/saas/adobe_campaign_fixtures.py
  tests/ops/fixtures/saas/auth0_fixtures.py
  tests/ops/fixtures/saas/braze_fixtures.py
  tests/ops/fixtures/saas/datadog_fixtures.py
  tests/ops/fixtures/saas/domo_fixtures.py
  tests/ops/fixtures/saas/doordash_fixtures.py
  tests/ops/fixtures/saas/fullstory_fixtures.py
  tests/ops/fixtures/saas/hubspot_fixtures.py
  tests/ops/fixtures/saas/mailchimp_fixtures.py
  tests/ops/fixtures/saas/outreach_fixtures.py
  tests/ops/fixtures/saas/request_override/firebase_auth_fixtures.py
  tests/ops/fixtures/saas/request_override/mailchimp_override_fixtures.py
  tests/ops/fixtures/saas/rollbar_fixtures.py
  tests/ops/fixtures/saas/salesforce_fixtures.py
  tests/ops/fixtures/saas/segment_fixtures.py
  tests/ops/fixtures/saas/sendgrid_fixtures.py
  tests/ops/fixtures/saas/sentry_fixtures.py
  tests/ops/fixtures/saas/shopify_fixtures.py
  tests/ops/fixtures/saas/slack_enterprise_fixtures.py
  tests/ops/fixtures/saas/square_fixtures.py
  tests/ops/fixtures/saas/stripe_fixtures.py
  tests/ops/fixtures/saas/twilio_conversations_fixtures.py
  tests/ops/fixtures/saas/zendesk_fixtures.py
  tests/ops/fixtures/saas_example_fixtures.py
  tests/ops/fixtures/snowflake_fixtures.py
  tests/ops/fixtures/timescale_fixtures.py
  tests/ops/models/test_datasetconfig.py
  tests/ops/service/connectors/test_connector_registry_service.py
  tests/ops/service/connectors/test_saas_queryconfig.py
  tests/ops/test_helpers/dataset_utils.py
Labels: Unified Fides Resources

#2103 Skipping Cypress tests due to nav bar 2.0
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/auth.cy.ts
  clients/admin-ui/cypress/e2e/config-wizard-plus.cy.ts
  clients/admin-ui/cypress/e2e/config-wizard.cy.ts
  clients/admin-ui/cypress/e2e/datasets-classify.cy.ts
  clients/admin-ui/cypress/e2e/datasets.cy.ts
  clients/admin-ui/cypress/e2e/nav-bar.cy.ts
  clients/admin-ui/cypress/e2e/systems.cy.ts
  clients/admin-ui/cypress/e2e/taxonomy.cy.ts
Labels: UI, Fides NUX Improvements
