Repository ethyca/fides, pull requests merged in 2023-05, with the labels that each got.

#3167 #3164 - Fix links to Docs Site
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  src/fides/core/config/__init__.py
Labels: documentation, dev experience, UI

#2998 DynamoDB Connector
  .github/workflows/backend_checks.yml
  CHANGELOG.md
  clients/admin-ui/public/images/connector-logos/dynamodb.svg
  clients/admin-ui/src/features/datastore-connections/constants.ts
  clients/admin-ui/src/types/api/models/ConnectionType.ts
  data/dataset/dynamodb_example_test_dataset.yml
  noxfiles/run_infrastructure.py
  noxfiles/test_setup_nox.py
  pyproject.toml
  src/fides/api/ctl/migrations/versions/fc04e3e637c0_add_dynamodb_to_connector_list.py
  src/fides/api/ctl/routes/generate.py
  src/fides/api/ops/models/connectionconfig.py
  src/fides/api/ops/schemas/connection_configuration/__init__.py
  src/fides/api/ops/schemas/connection_configuration/connection_secrets_dynamodb.py
  src/fides/api/ops/service/connectors/__init__.py
  src/fides/api/ops/service/connectors/dynamodb_connector.py
  src/fides/api/ops/service/connectors/query_config.py
  src/fides/api/ops/task/task_resources.py
  src/fides/cli/commands/generate.py
  src/fides/connectors/aws.py
  src/fides/core/dataset.py
  tests/conftest.py
  tests/ctl/api/test_generate.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/dynamodb_fixtures.py
  tests/fixtures/integration_fixtures.py
  tests/ops/api/v1/endpoints/test_connection_template_endpoints.py
  tests/ops/api/v1/endpoints/test_dataset_endpoints.py
  tests/ops/integration_test_config.toml
  tests/ops/service/connectors/test_queryconfig.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Labels: run unsafe ci checks

#3299 Handle edge case where no attributes are defined
  src/fides/api/ops/service/connectors/dynamodb_connector.py
  src/fides/api/ops/task/graph_task.py
  src/fides/data/sample_project/fides.toml
  tests/ops/service/privacy_request/test_request_runner_service.py
Labels: run unsafe ci checks

#3385 Delighted: Make `survey_response` depend on `person` output
  CHANGELOG.md
  data/saas/config/delighted_config.yml
Labels: SaaS Connector

#2949 Add Google Tag Manager and Privacy Center ENV vars to sample app, plus the ability to pass ENV vars to both privacy center and sample app during `fides deploy` via `.env`
  CHANGELOG.md
  clients/sample-app/Dockerfile
  clients/sample-app/README.md
  clients/sample-app/src/lib/db.ts
  clients/sample-app/src/pages/index.tsx
  src/fides/data/sample_project/docker-compose.yml
  src/fides/data/sample_project/fides.toml
Labels: enhancement
