Repository ethyca/fides, pull requests merged in 2023-04, with the labels that each got.

#2936 Bump python version from 3.10.7 to 3.10.11
  .github/workflows/backend_checks.yml
  .github/workflows/cli_checks.yml
  CHANGELOG.md
  Dockerfile
  docs/fides/Dockerfile
Labels: run unsafe ci checks

#2539 feature: Privacy Center - configure email xor phone to match fulfillment functionality
  CHANGELOG.md
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
  clients/privacy-center/components/modals/consent-request-modal/ConsentRequestForm.tsx
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
  clients/privacy-center/config/config.json
  clients/privacy-center/config/examples/basic.json
  clients/privacy-center/cypress/e2e/privacy-request.cy.ts
  src/fides/data/sample_project/privacy_center/config/config.json
  src/fides/data/test_env/privacy_center_config/config.json
  tests/fixtures/privacy_center_config/bad_test_config.json
  tests/fixtures/privacy_center_config/test_config.json
Labels: bug

#3016 Update how we Save and Propagate Privacy Preferences [#3013]
  .fides/db_dataset.yml
  CHANGELOG.md
  docs/fides/docs/development/postman/Fides.postman_collection.json
  src/fides/api/ctl/migrations/versions/8188ddbf8cae_add_privacy_preference_table.py
  src/fides/api/ctl/sql_models.py
  src/fides/api/ops/api/v1/api.py
  src/fides/api/ops/api/v1/endpoints/consent_request_endpoints.py
  src/fides/api/ops/api/v1/endpoints/privacy_preference_endpoints.py
  src/fides/api/ops/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/ops/api/v1/urn_registry.py
  src/fides/api/ops/common_exceptions.py
  src/fides/api/ops/db/base.py
  src/fides/api/ops/email_templates/templates/consent_request_email_fulfillment.html
  src/fides/api/ops/models/connectionconfig.py
  src/fides/api/ops/models/privacy_notice.py
  src/fides/api/ops/models/privacy_preference.py
  src/fides/api/ops/schemas/messaging/messaging.py
  src/fides/api/ops/schemas/privacy_notice.py
  src/fides/api/ops/schemas/privacy_preference.py
  src/fides/api/ops/schemas/privacy_request.py
  src/fides/api/ops/service/connectors/base_connector.py
  src/fides/api/ops/service/connectors/base_email_connector.py
  src/fides/api/ops/service/connectors/consent_email_connector.py
  src/fides/api/ops/service/connectors/erasure_email_connector.py
  src/fides/api/ops/service/connectors/saas_connector.py
  src/fides/api/ops/service/privacy_request/request_runner_service.py
  src/fides/api/ops/task/graph_task.py
  src/fides/api/ops/util/consent_util.py
  tests/conftest.py
  tests/ctl/core/test_system.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/saas/google_analytics_fixtures.py
  tests/fixtures/saas/mailchimp_transactional_fixtures.py
  tests/fixtures/saas/universal_analytics_fixtures.py
  tests/ops/api/v1/endpoints/test_consent_request_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_notice_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_preference_endpoints.py
  tests/ops/integration_tests/saas/test_google_analytics_task.py
  tests/ops/integration_tests/saas/test_mailchimp_transactional_task.py
  tests/ops/integration_tests/saas/test_universal_analytics_task.py
  tests/ops/integration_tests/saas/test_wunderkind_task.py
  tests/ops/models/test_consent_request.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/models/test_privacy_preference.py
  tests/ops/service/connectors/test_consent_email_connector.py
  tests/ops/service/connectors/test_saas_connector.py
  tests/ops/service/messaging/message_dispatch_service_test.py
  tests/ops/service/privacy_request/test_email_batch_send.py
  tests/ops/service/privacy_request/test_request_runner_service.py
  tests/ops/util/test_consent_util.py
Labels: run unsafe ci checks

#3011 Update test data for Mongo, CLI, etc.
  data/dataset/mongo_example_test_dataset.yml
  src/fides/data/sample_project/fides.toml
  src/fides/data/sample_project/sample_resources/mongo_example_test_dataset.yml
  tests/ops/integration_tests/test_mongo_task.py
  tests/ops/service/connectors/test_queryconfig.py
Labels: run unsafe ci checks

#3095 Backend Consent Reporting
  CHANGELOG.md
  docs/fides/docs/development/postman/Fides.postman_collection.json
  src/fides/api/ctl/migrations/versions/8342453518cc_index_preference_created_and_updated.py
  src/fides/api/ops/api/v1/endpoints/consent_request_endpoints.py
  src/fides/api/ops/api/v1/endpoints/privacy_preference_endpoints.py
  src/fides/api/ops/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/ops/api/v1/endpoints/utils.py
  src/fides/api/ops/api/v1/scope_registry.py
  src/fides/api/ops/api/v1/urn_registry.py
  src/fides/api/ops/models/connectionconfig.py
  src/fides/api/ops/models/privacy_preference.py
  src/fides/api/ops/schemas/privacy_preference.py
  src/fides/api/ops/service/connectors/base_connector.py
  src/fides/api/ops/service/connectors/consent_email_connector.py
  src/fides/api/ops/service/connectors/saas_connector.py
  src/fides/api/ops/service/privacy_request/request_runner_service.py
  src/fides/api/ops/task/graph_task.py
  src/fides/api/ops/util/consent_util.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/saas/klaviyo_fixtures.py
  tests/ops/api/v1/endpoints/test_privacy_preference_endpoints.py
  tests/ops/api/v1/test_utils.py
  tests/ops/integration_tests/saas/test_google_analytics_task.py
  tests/ops/integration_tests/saas/test_klaviyo_task.py
  tests/ops/integration_tests/saas/test_mailchimp_transactional_task.py
  tests/ops/integration_tests/saas/test_universal_analytics_task.py
  tests/ops/integration_tests/saas/test_wunderkind_task.py
  tests/ops/models/test_connectionconfig.py
  tests/ops/models/test_privacy_preference.py
  tests/ops/service/connectors/test_saas_connector.py
  tests/ops/service/privacy_request/test_email_batch_send.py
  tests/ops/service/privacy_request/test_request_runner_service.py
  tests/ops/task/test_graph_task.py
  tests/ops/util/test_consent_util.py
Labels: run unsafe ci checks

#3166 #3163 - Fix Typo in Admin UI
  CHANGELOG.md
  clients/admin-ui/src/features/datamap/GetStarted.tsx
Labels: UI
