Repository ethyca/fides, pull requests merged in 2025-06, with the labels that each got.

#6160 ENG-324
  src/fides/api/models/attachment.py
  src/fides/api/service/privacy_request/attachment_handling.py
  src/fides/api/service/privacy_request/dsr_package/dsr_report_builder.py
  src/fides/api/service/privacy_request/dsr_package/templates/attachments_index.html
  src/fides/api/service/privacy_request/dsr_package/templates/collection_index.html
  src/fides/api/service/privacy_request/dsr_package/templates/item.html
  src/fides/api/service/privacy_request/dsr_package/templates/main.css
  src/fides/api/service/privacy_request/dsr_package/templates/welcome.html
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/storage/gcs.py
  src/fides/api/service/storage/s3.py
  src/fides/api/service/storage/util.py
  src/fides/api/tasks/csv_utils.py
  src/fides/api/tasks/encryption_utils.py
  src/fides/api/tasks/storage.py
  tests/conftest.py
  tests/ctl/models/test_attachment.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/manual_webhook_fixtures.py
  tests/ops/service/privacy_request/test_attachment_handling.py
  tests/ops/service/privacy_request/test_dsr_report_builder.py
  tests/ops/service/privacy_request/test_request_runner_service.py
  tests/ops/service/storage/test_gcs.py
  tests/ops/service/storage/test_s3.py
  tests/ops/service/storage/test_storage_uploader_service.py
  tests/ops/service/storage/test_util.py
  tests/ops/tasks/test_csv_utils.py
  tests/ops/tasks/test_encryption_utils.py
  tests/ops/tasks/test_storage.py
Labels: high-risk

#6205 ENG 602 adding manual task model
  .fides/db_dataset.yml
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/5efcdf18438e_add_manual_task_tables.py
  src/fides/api/db/base.py
  src/fides/api/models/manual_tasks/__init__.py
  src/fides/api/models/manual_tasks/manual_task.py
  src/fides/api/models/manual_tasks/manual_task_log.py
  src/fides/api/schemas/manual_tasks/__init__.py
  src/fides/api/schemas/manual_tasks/manual_task_schemas.py
  src/fides/api/schemas/manual_tasks/manual_task_status.py
  src/fides/service/manual_tasks/__init__.py
  src/fides/service/manual_tasks/manual_task_service.py
  tests/api/models/manual_tasks/__init__.py
  tests/api/models/manual_tasks/conftest.py
  tests/api/models/manual_tasks/test_manual_task.py
  tests/api/models/manual_tasks/test_manual_task_log.py
  tests/api/schemas/__init__.py
  tests/api/schemas/manual_tasks/__init__.py
  tests/api/schemas/manual_tasks/test_manual_task_schemas.py
  tests/api/schemas/manual_tasks/test_manual_task_status.py
  tests/service/manual_tasks/__init__.py
  tests/service/manual_tasks/test_manual_task_service.py
Labels: db-migration

#6250 ENG-783: Handle older browsers that do not support .size on URLSearchParams
  clients/fides-js/src/lib/size-of.ts
  clients/fides-js/src/services/api.ts
Labels: do not merge

#6251 ENG-668 Updated connection config for manual tasks
  src/fides/api/alembic/migrations/versions/aadfe83c5644_add_manual_task_to_connectiontype_enum.py
  src/fides/api/models/connectionconfig.py
  src/fides/common/api/v1/urn_registry.py
  tests/api/models/manual_tasks/test_manual_task.py
  tests/ops/api/v1/endpoints/test_connection_template_endpoints.py
Labels: db-migration

#6242 Disable DSR enterprise tests
  tests/ops/service/privacy_request/test_bigquery_enterprise_privacy_request.py
Labels: run unsafe ci checks

#6262 Fixing Alembic migrations
  .github/workflows/backend_checks.yml
  CHANGELOG.md
  noxfiles/ci_nox.py
  noxfiles/constants_nox.py
  noxfiles/utils_nox.py
  src/fides/api/db/database.py
  src/fides/api/models/attachment.py
  src/fides/api/models/comment.py
  src/fides/api/models/db_cache.py
  src/fides/api/models/detection_discovery/core.py
  src/fides/api/models/fides_user_respondent_email_verification.py
  src/fides/api/models/manual_tasks/manual_task.py
  src/fides/api/models/manual_tasks/manual_task_config.py
  src/fides/api/models/manual_tasks/manual_task_instance.py
  src/fides/api/models/manual_tasks/manual_task_log.py
  src/fides/api/models/tcf_publisher_restrictions.py
Labels: run unsafe ci checks
